.Rproj.user
.Rhistory
.RData
.Ruserdata
**/_posts/data
_posts/2022-08-22-test-de-hiptesis/data/2004-2018 LAPOP AmericasBarometer Merge (v1.0FREE).dta
docs/posts/2022-08-22-test-de-hiptesis/data/2004-2018 LAPOP AmericasBarometer Merge (v1.0FREE).dta
