.Rproj.user
.Rhistory
.RData
.Ruserdata
_posts/2022-08-22-test-de-hiptesis/data/2004-2018 LAPOP AmericasBarometer Merge (v1.0FREE).dta
docs/posts/2022-08-22-test-de-hiptesis/data/2004-2018 LAPOP AmericasBarometer Merge (v1.0FREE).dta
docs/posts/2022-08-22-test-de-hiptesis/output/lapop_chile_220824.dta
docs/posts/2022-08-22-test-de-hiptesis/output/lapop_chile_220824.rds
docs/posts/2022-08-22-test-de-hiptesis/output/lapop_int_220824.dta
docs/posts/2022-08-22-test-de-hiptesis/output/lapop_int_220824.rds
_posts/2022-08-22-test-de-hiptesis/output/lapop_chile_220824.dta
_posts/2022-08-22-test-de-hiptesis/output/lapop_chile_220824.rds
_posts/2022-08-22-test-de-hiptesis/output/lapop_int_220824.dta
_posts/2022-08-22-test-de-hiptesis/output/lapop_int_220824.rds
_posts/2022-08-25-valor-p/bibliography/Leonhard Helt and Manuela Ott.pdf
_posts/2022-08-25-valor-p/bibliography/Greenland et all.pdf
_posts/2022-08-25-valor-p/bibliography/Steven Goodman.pdf
_posts/2022-08-25-valor-p/bibliography/DA Berry.pdf
*.pdf
.Rdata
.httr-oauth
.DS_Store
.quarto
